.pane{
    -fx-background-image: url("../images/shapeBackground.jpg");
    -fx-background-size: 100%;
    /*-fx-background-color: #1b2f69;*/
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: white;
    -fx-font-weight: bold;

}
.white-pane{
    -fx-background-color: #ffffff;
}
.blue-panel{
    -fx-background-color: #151928;
}
.tf_box{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 1px 0px;
}
.tf{
    -fx-background-color: transparent;
}
.blue-btn{
    -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}

.closeButtonWhenHovered{
    -fx-opacity: 0.8;
}

.closeButtonStyle{
    -fx-background-color: #151928;
    -fx-text-fill: white bold;
    -fx-opacity: 0.3;
}

.minimizeButtonStyle{
    -fx-background-color: #151928;
    -fx-text-fill: white bold;
    -fx-opacity: 0.4;
}

.minimizeButtonWhenHovered {
    -fx-opacity: 0.8;
}

.badName .badPassword .badUsername .badSurname .badEmail {
    -fx-text-fill: red;
}

.errorLabel {
    -fx-text-fill: red;
}

.parent{
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}

.root{
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-font-family: 'Fontspace';
}

@font-face {
    font-family: 'Fontspace';
    src: url('/fonts/Fontspace.ttf');
}

.adminButton{
    -fx-border-bottom-color: #0A1A3B;
}